flow.json
[
    {
        "id": "6b60ed9b.f359e4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ccff1427.530588",
        "type": "inject",
        "z": "6b60ed9b.f359e4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "8b47e68f.bc9c48"
            ]
        ]
    },
    {
        "id": "116da08a.eeec0f",
        "type": "debug",
        "z": "6b60ed9b.f359e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "8b47e68f.bc9c48",
        "type": "switch",
        "z": "6b60ed9b.f359e4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "116da08a.eeec0f"
            ]
        ]
    }
]