flow.json
[
    {
        "id": "6b60ed9b.f359e4",
        "type": "tab",
        "label": "sample http request",
        "disabled": false,
        "info": ""
    },
    {
        "id": "12b04592.66feda",
        "type": "http in",
        "z": "6b60ed9b.f359e4",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "e6cb425d.017ea"
            ]
        ]
    },
    {
        "id": "28f66c0.d348f94",
        "type": "change",
        "z": "6b60ed9b.f359e4",
        "name": "set headers",
        "rules": [
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "6c44ee42.d05ae"
            ]
        ]
    },
    {
        "id": "6c44ee42.d05ae",
        "type": "http response",
        "z": "6b60ed9b.f359e4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "e6cb425d.017ea",
        "type": "template",
        "z": "6b60ed9b.f359e4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<!DOCTYPE html>\n<html>\n    <head>\n        <link rel=\"stylesheet\" href=\"//stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css\" integrity=\"sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ\" crossorigin=\"anonymous\">\n    </head>\n<body>\n    <div class=\"container\">\n        <div class=\"row\">\n            <h1>Bhim4Lending</h1>\n        </div>\n        <div class=\"row\">\n            <p>My first paragraph.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "output": "str",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "28f66c0.d348f94"
            ]
        ]
    }
]